<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
<form action= "/madlib"> 
        <select person= "name">
        <option value="mario">Mario</option> 
        <option value="princess peach">Princess Peach</option> 
        <option value="yoshi">Yoshi</option> 
        <option value="luigi">Luigi</option> 
        </select>

        <select color="color">
        <option value="green">Green</option> 
        <option value="yellow">Yellow</option> 
        <option value="pink">Pink</option> 
        <option value="purple">Purple</option> 
        </select>

        <select noun="noun">
        <option value="cat">Cat</option> 
        <option value="sock">Sock</option> 
        <option value="ship">Ship</option> 
        <option value="hero">Hero</option> 
        </select>

        <select adjective="adjective">
        <option value="brave">Brave</option> 
        <option value="calm">Calm</option> 
        <option value="ambitious">Ambitious</option> 
        <option value="eager">Eager</option> 
         <input type="submit">
        </select>
    </form>
</body>
</html>